.main-recipes {
  color: $color-two;
  .main-recipes-title {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin: 110px 0 80px 0;
  }
  .main-recipes-box {
    display: flex;
    margin: 10px;
    .recipes {
      padding-left: 50px;
    }
    .main-recipes-left {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}
.recipe-button {
  margin-top: 10px;
  background-color: $color-one;
  border: 1px solid $color-four;
  color: $color-two;
  &:focus {
    background-color: $color-one-lighter;
  }
}

.main-recipes-right {
  width: 50%;
  img {
    width: 100%;
  }
}
.recipes-left {
  padding-left: 50px;
}
.recipe-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

.recipe-subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.recipe-list {
  list-style: none;
  line-height: 25px;
  text-transform: uppercase;
}


.recipe-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-one-lighter;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  .recipe-box-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-one;
    width: 61.5rem;
    .close-button {
      float: right;
      width: 1.5rem;
      line-height: 1.5rem;
      cursor: pointer;
      &:hover {
        color: $color-four;
      }
    }
    .recipe-box-text {
      line-height: 2rem;
      padding: 10px;
    }
  }
}

.show-recipe {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}