.main-blog {
  padding: 70px;
  height: 700px;
  color: $color-two;
  font-size: 35px;
  .main-blog-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;

  }
  .main-blog-box {
    display: flex;
    justify-content: space-between;
    .main-blog-post {
      flex: 1;
      height: 40vw;
      background-color: $color-two;
      background-size: cover;
      background-position: -350px 0;
      &:first-child {
        margin-right: 10px;
        background-position: -400px 0;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.main-blog-box {
  .post-one {
    background-image: url("../images/spaghetti.jpg");
    background-repeat: no-repeat;

  }
  .post-two {
    background-image: url("../images/tomatoes.jpg");
    background-repeat: no-repeat;
  }
  .post-three {
    background-image: url("../images/broccoli.jpg");
  }
}