.main-recipes {
  color: $color-two;
  .main-recipes-title {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin: 110px 0 80px 0;
  }
  .main-recipes-box {
    display: flex;
    .main-recipes-left {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

.main-recipes-right {
  width: 50%;
  img {
    width: 100%;
  }
}

.recipe-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

.recipe-subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.recipe-list {
  list-style: none;
  line-height: 30px;
  text-transform: uppercase;
}