$color-one: #0A2228;
$color-two: #f7f7f7;
$color-three: #9F2830;
$color-four: #719560;

$color-one-lighter: rgba(10, 34, 40, 0.6);
$color-two-lighter: rgba(112, 112, 112, 0.7);
$color-three-lighter: rgba(	126, 149, 96, 0.7)